nav {
    background-color: green;
    color: green;
    display: inline;
    display: inline;
    padding: 10px;
}

h1 {
    background-color: black;
    display: inline;
}

button {
    background-color: transparent;
    display: inline;
    margin-left: 39px;
    font-size: smaller;
}

.right {
    float: right;
    display: inline;
}