nav{

background-color: darkgoldenrod;
color: darkcyan;

}
h1{
display: inline;
background-color: black;
}
button{
    background-color: blue;
    color: aqua;
    border: none;
    font-size: 20px;
display: inline;
margin-left: 39px;
}
button:hover{
    background-color: darkblue;
    color: brown;
}
.float-btn{
  float: right;
  margin-left: 1px;

}

